.blocked-cell {
  display: block;
  text-align: center;
  background-color: rgb(202, 202, 202);
  border: 1px solid #000;
  box-sizing: border-box;
  position: relative;
}

.marked-cell {
  display: block;
  text-align: center;
  background-color: #EBDE48;
  border: 1px solid #000;
  box-sizing: border-box;
  position: relative;
}

.green-cell,
.red-cell,
.blue-cell {
  display: block;
  text-align: center;
  border: 1px solid #000;
  box-sizing: border-box;
  position: relative;
}

.green-cell {
  background-color: #2EE88B;
}

.red-cell {
  background-color: #FF5449;
}

.blue-cell {
  background-color: #718EEB;
}

span.cell-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.detonated {
  color: #ffffff;
  animation: detonatedbomb 1s infinite linear alternate;
}

.grey {
  color: rgb(41, 41, 41);
}

.red {
  color: #FF5449;
}

@keyframes detonatedbomb {
  0% {
    color: #ffffff;
  }

  100% {
    color: #000000;
  }
}
