.blocked-cell {
  background-color: rgb(202, 202, 202);
}

.marked-cell {
  background-color: #EBDE48;
}

.green-cell {
  background-color: #2EE88B;
}

.red-cell {
  background-color: #FF5449;
}

.blue-cell {
  background-color: #718EEB;
}

span.cell-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  user-select: none;
}

.detonated {
  color: #ffffff;
  animation: detonatedbomb 1s infinite linear alternate;
}

.grey {
  color: rgb(41, 41, 41);
}

.red {
  color: #FF5449;
}

@keyframes detonatedbomb {
  0% {
    color: #ffffff;
  }

  100% {
    color: #000000;
  }
}

@media (max-width: 600px) {
  span.cell-value {
    font-size: 0.8em;
  }
}

@media (max-width: 500px) {
  span.cell-value {
    font-size: 0.7em;
  }
}

@media (max-width: 350px) {
  span.cell-value {
    font-size: 0.65em;
  }
}
