.blocked-cell {
  display: block;
  text-align: center;
  background-color: #aaa;
  border: 1px solid #000;
  box-sizing: border-box;
  position: relative;
}

.marked-cell {
  display: block;
  text-align: center;
  background-color: #ff0;
  border: 1px solid #000;
  box-sizing: border-box;
  position: relative;
}

.green-cell,
.red-cell,
.blue-cell {
  display: block;
  text-align: center;
  border: 1px solid #000;
  box-sizing: border-box;
  position: relative;
}

.green-cell {
  background-color: green;
}

.red-cell {
  background-color: red;
}

.blue-cell {
  background-color: blue;
}

span.cell-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
