.input-form {
  display: block;
}

.input-form label {
  display: block;
}

.input-form label span {
  float: left;
  width: 50%;
}

.input-form label input {
  float: right;
  text-align: center;
  width: 50%;
}

.input-form label select {
  float: right;
  text-align: center;
  width: 50%;
  text-align-last: center;
}

.input-form label::after {
  content: '';
  display: block;
  clear: both;
}

.input-form button {
  width: 50%;
  display: block;
  margin: 0 auto;
}
